In [ ]:
from llama_index.core import SQLDatabase
from llama_index.core.query_engine import NLSQLTableQueryEngine
from llama_index.llms.gemini import Gemini
from llama_index.embeddings.gemini import GeminiEmbedding
from sqlalchemy import create_engine

In [ ]:
mysql_engine = create_engine("mysql+mysqlconnector://root:root@localhost/chinook")
sql_database = SQLDatabase(mysql_engine)

In [ ]:
llm = Gemini(api_key="<GEMINI_API_KEY>")

In [ ]:
model_name = "models/embedding-001"

embed_model = GeminiEmbedding(
    model_name=model_name, api_key="<GEMINI_API_KEY>", title="this is a document"
)

In [ ]:
query_engine = NLSQLTableQueryEngine(
    sql_database=sql_database, 
    llm=llm, 
    embed_model=embed_model
)

In [14]:
user_prompt = "How many emplyees in the database"
response = query_engine.query(user_prompt)

In [15]:
print("Generated SQL Query:", response.metadata["sql_query"])
print("Query Results:", response)

Generated SQL Query: SELECT
  COUNT(EmployeeId)
FROM employee;
Query Results: There are 8 employees in the database.